/* Home.module.css */

.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .centerText {
    font-size: 25px;
    color: blue;
    background-color: orange;
  }
  